.header {
  display: flex;
  justify-content: space-between;  /* 로고와 메뉴를 양 끝으로 정렬 */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2b2b2b;
  color: #ffffff;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%; /* 헤더가 화면 전체 너비를 차지하도록 설정 */
  z-index: 10;
}

.header:hover {
  background-color: #141414;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 로고는 왼쪽 정렬 */
}

.logo-icon {
  width: 30px;
  height: 30px;
  fill: #e50914;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  justify-content: center;  /* 메뉴 항목을 수평으로 중앙 정렬 */
  flex-grow: 1; /* 남는 공간을 차지하도록 */
}

.nav-menu a {
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #b3b3b3;
}

.auth-button {
  background-color: #e50914;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-button:hover {
  background-color: #f40612;
  transform: scale(1.05);
}
