<div class="new-page-container">
  <!-- 뷰 전환 버튼 -->
  <div class="view-toggle">
    <button (click)="toggleView()">
      {{ isListView ? '테이블 보기' : '리스트 보기' }}
    </button>
  </div>

  <!-- 리스트 보기 -->
  <div *ngIf="isListView" class="grid-view">
    <div
      class="movie-card"
      *ngFor="let movie of movies"
      (click)="openMovieDetail(movie)"
      (mouseenter)="onMouseEnter(movie.id)"
      (mouseleave)="onMouseLeave()"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        [alt]="movie.original_title"
        class="movie-img"
      />

      <!-- 좋아요 버튼 -->
      <button
        *ngIf="isLoggedIn"
        class="favorite-btn"
        [ngClass]="{ favorited: isFavorite(movie.id) }"
        (click)="onFavoriteClick($event, movie)"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8l0-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5l0 3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9z"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- 테이블 보기 -->
  <div *ngIf="!isListView" class="grid-view" [style.grid-template-columns]="gridTemplateColumns">
    <div
      class="movie-card"
      *ngFor="let movie of currentMovies"
      (click)="openMovieDetail(movie)"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        [alt]="movie.original_title"
        class="movie-img"
      />
    </div>
  </div>

  <!-- 페이지네이션 -->
  <div *ngIf="!isListView" class="pagination">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      이전
    </button>
    <span>{{ currentPage }}</span>
    <button (click)="goToNextPage()">
      다음
    </button>
  </div>

  <!-- 스크롤 맨 위로 버튼 -->
  <button class="scroll-to-top" (click)="scrollToTop()" [class.visible]="showScrollToTop">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M4.293 12.293a1 1 0 011.414 0L12 18.586l6.293-6.293a1 1 0 111.414 1.414l-7 7a1 1 0 01-1.414 0l-7-7a1 1 0 010-1.414z"
      />
    </svg>
  </button>

  <!-- 선택된 영화가 있을 때만 모달 렌더링 -->
  <app-movie-detail
    *ngIf="selectedMovieId"
    [movieId]="selectedMovieId"
    (close)="closeMovieDetail()"
  ></app-movie-detail>
</div>
