.filter-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-bar p {
  color: white;
  margin: 0;
}

.filter-bar select, .filter-bar button {
  padding: 10px;
  font-size: 14px;
  background-color: #141414;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.filter-bar select:hover, .filter-bar button:hover {
  background-color: #e50914;
}

.filter-bar button {
  border: none;
}
