.scroll-button {
  background-image: url('/path/to/your/image.png'); /* 화살표 이미지 경로 추가 */
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.scroll-button.left {
  transform: rotate(180deg); /* 왼쪽 버튼은 180도 회전 */
}

.scroll-button.active {
  background-color: rgba(255, 255, 255, 0.6); /* 활성화된 버튼에 반투명 배경 */
}

.scroll-button:hover {
  transform: scale(1.1);
}

.scroll-button:focus {
  outline: none;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

.movie-card {
  min-width: 150px;
  flex: 0 0 auto;
  text-align: center;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  color: #ffffff;
  scroll-snap-align: start;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #e50914;
}

.movie-card p {
  font-size: 0.9rem;
  padding: 5px 0;
}
