<div class="banner">
  <div class="banner-content">
    <h1>{{ movieTitle }}</h1>
    <p>{{ movieDescription }}</p>
  </div>
  <img [src]="'https://image.tmdb.org/t/p/original' + movieBackdrop" alt="Banner" class="banner-image">
</div>

<div class="container">
  <div class="movie-section" *ngFor="let category of movieCategories">
    <h5 class="text-white">{{ category.title }}</h5>
    
    <div class="movie-row-container">
      <button class="scroll-button prev-btn" (click)="scrollLeft(category.title)">‹</button>
      
      <div class="movie-row" [id]="category.title">
        <div class="movie-card" *ngFor="let movie of category.result">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
               [alt]="movie.title"
               class="movie-img">
          <p>{{ movie.title }}</p>
        </div>
      </div>
      
      <button class="scroll-button next-btn" (click)="scrollRight(category.title)">›</button>
    </div>
  </div>
</div>