<div class="banner">
  <div class="banner-content">
    <h1>{{ movieTitle }}</h1>
    <p>{{ movieDescription }}</p>
  </div>
  <img [src]="'https://image.tmdb.org/t/p/original' + movieBackdrop" alt="Banner" class="banner-image">
</div>

<div class="contain mt-3 mb-5 p-4">
  <div *ngFor="let category of movieCategories" class="movie-section">
    <h5 class="text-white">{{ category.title }}</h5>
    <div class="movie-row-container">
      <button class="scroll-button left" (click)="scrollLeft(category.title)">&#8249;</button>
      <div class="movie-row" [ngClass]="category.title">
        <div *ngFor="let movie of category.result" class="movie-card">
          <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" class="movie-img" alt="{{ movie.title }}">
          <p>{{ movie.title }}</p>
        </div>
      </div>
      <button class="scroll-button right" (click)="scrollRight(category.title)">&#8250;</button>
    </div>
  </div>
</div>