/* 영화 카드 스타일 */
.movie-card {
  min-width: 150px; /* 최소 너비 설정 */
  flex: 0 0 auto;
  text-align: center;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  color: #ffffff;
  position: relative; /* 이미지와 텍스트를 겹치지 않도록 하기 위한 설정 */
}

/* 영화 이미지 스타일 */
.movie-card img {
  width: 100%;  /* 이미지가 카드의 너비를 채우도록 설정 */
  height: 200px; /* 고정된 높이 설정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 잘리도록 설정 */
  border-bottom: 2px solid #e50914;
}

/* 영화 제목 스타일 */
.movie-card p {
  font-size: 0.9rem;
  padding: 5px 0;
}

/* 영화 목록의 수평 정렬 */
.movie-row {
  display: flex;
  overflow-x: auto;  /* 수평 스크롤 활성화 */
  gap: 10px;
  scroll-snap-type: x mandatory;  /* 스크롤이 섹션에 맞춰 스냅되도록 설정 */
  -webkit-overflow-scrolling: touch;  /* 터치스크린에서 부드러운 스크롤링 */
}

/* 영화 카테고리 섹션 스타일 */
.movie-section {
  padding: 20px 0;
}

.movie-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

/* 스크롤 버튼 스타일 */
.scroll-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.3s;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.scroll-button.left {
  left: 10px;
  transform: rotate(180deg); /* 좌측 버튼 회전 */
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  transform: scale(1.1);
}

.scroll-button:focus {
  outline: none;
}

/* 배너 섹션 */
.contain-fluid {
  margin-bottom: 20px;
}

/* 기본적으로 각 섹션에 일정한 마진 및 패딩 */
.contain {
  padding: 20px;
}

.rowposter {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.rowimg {
  width: 100%;
  height: 200px; /* 이미지 높이 고정 */
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

/* 각 카테고리 제목 스타일 */
h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
}
