<div class="container" [class.active]="!isLoginMode" id="container">
  <!-- 회원가입 폼 -->
  <div class="form-container sign-up" *ngIf="!isLoginMode">
    <form (ngSubmit)="onSignup()">
      <h1>회원가입</h1>
      <span>이메일을 입력하여 등록하세요</span>
      <input type="email" placeholder="이메일" [(ngModel)]="email" name="signup-email" required />
      <input
        type="password"
        placeholder="비밀번호"
        [(ngModel)]="password"
        name="signup-password"
        required
      />
      <input
        type="password"
        placeholder="비밀번호 확인"
        [(ngModel)]="confirmPassword"
        name="signup-confirm-password"
        required
      />
      <div class="checkbox-container">
        <input type="checkbox" id="terms" [(ngModel)]="agreeToTerms" name="agreeToTerms" required />
        <label for="terms">약관에 동의합니다</label>
      </div>
      <button [disabled]="!isEmailValid || !agreeToTerms">회원가입</button>
    </form>
  </div>

  <!-- 로그인 폼 -->
  <div class="form-container sign-in" *ngIf="isLoginMode">
    <form (ngSubmit)="onLogin()">
      <h1>로그인</h1>
      <span>이메일과 비밀번호로 로그인하세요</span>
      <input type="email" placeholder="이메일" [(ngModel)]="email" name="login-email" required />
      <input type="password" placeholder="비밀번호" [(ngModel)]="password" name="login-password" required />
      <div class="checkbox-container">
        <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe" />
        <label for="rememberMe">아이디 저장 및 자동 로그인</label>
      </div>
      <a href="#">비밀번호를 잊으셨나요?</a>
      <button [disabled]="!isEmailValid">로그인</button>
      
    </form>
    <div>
      <button class="kakao-login-btn" (click)="onKakaoLogin()">카카오로 로그인</button>
    </div>
  </div>

  <!-- 전환 토글 -->
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>환영합니다!</h1>
        <p>모든 사이트 기능을 사용하려면 회원가입하세요.</p>
        <button (click)="switchMode()" class="hidden" id="login">로그인</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>안녕하세요!</h1>
        <p>모든 사이트 기능을 사용하려면 로그인하세요.</p>
        <button (click)="switchMode()" class="hidden" id="register">회원가입</button>
      </div>
    </div>
  </div>
  <!-- 모바일 전환 버튼 -->
  <div class="mobile-toggle">
    <button (click)="switchMode()">
      {{ isLoginMode ? '회원가입' : '로그인' }}
    </button>
  </div>
</div>
